<html>
<body>
	<%= yield %>
	<br />
	<div>
		More Mxit: <a href="mxit://[memeforge]/" type="mxit/service-navigation">Make your photos more awesome with MemeForge!</a> | <%= @mixup_ad %>
	</div>
	<br />
	<div>
		<mxit:advert auid="361758"/>
	</div>
</body>
</html>